<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739667414224-o45270578b0rqks6j3upca1nqg1smivm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739667414224-o45270578b0rqks6j3upca1nqg1smivm</string>
	<key>API_KEY</key>
	<string>AIzaSyDCz_-Ed2yJmk2SBKzqyAL86ZZ-Mh0HXVY</string>
	<key>GCM_SENDER_ID</key>
	<string>739667414224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>monash.fit3178.Tripzo--Travel-Planner-Application</string>
	<key>PROJECT_ID</key>
	<string>tripzo---travel-planner</string>
	<key>STORAGE_BUCKET</key>
	<string>tripzo---travel-planner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739667414224:ios:7b37090e787ad1f3cf62d5</string>
</dict>
</plist>